.news__top::before {
  background-color: transparent;
}
a.cause-card__share {
  display: inline-flex;
}

.cause-card__bottom_event {
  display: flex;
  align-items: center;
  justify-content: center;
}

.blog-card__content {
  padding: 1rem;
}

.price-one__list {
  li {
    line-height: 2rem;
  }
}

select.selectpicker {
  display: block !important;
  background: transparent;
  color: #fff;
  border: none;

  option {
    color: #000;
  }
}

.text-right {
  text-align: right;
}

.text-left {
  text-align: left;
}


